---
layout: bootstrap
title: Blog - Jast
---
<div class="tag_header"><span>最新文章</span></div>
<div class="row row-cols-1 row-cols-md-3">
   {% for post in paginator.posts %}
		<div class="col mb-4">
			<div class="card">
				<div class="card-body">
					<article>
						<p><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></p>
						<p><i class="far fa-clock"></i>{{ post.date | date: "%Y-%m-%d" }} &nbsp;&nbsp; <i class="far fa-user"></i>{{ post.author }}</p>
						<p>{{ post.description }}</p>	
					</article>
				</div>
			</div>
		</div>
   {% endfor %}
</div>
<!-- Pagination links -->
<nav aria-label="Page navigation example">
  <ul class="pagination">
	  {% if paginator.previous_page %}
    		<li class="page-item"><a class="page-link" href="{{ paginator.previous_page_path }}">上一页</a></li>
	  {% else %}
	  	<li class="page-item disabled">
      			<a class="page-link" href="#" tabindex="-1" aria-disabled="true">上一页</a>
   		</li>
	  {% endif %}
	  {% if paginator.next_page %}
	 	<li class="page-item"><a class="page-link" href="{{ paginator.next_page_path }}">下一页</a></li>
	  {% else %}
	  	<li class="page-item disabled">
      			<a class="page-link" href="#" tabindex="-1" aria-disabled="true">下一页</a>
   		</li>
  	  {% endif %}
  </ul>
</nav>
<div>
