---
layout: bootstrap
title: Blog - Jast
---
<div class="tag_header"><span>最新文章</span></div>
<div class="card-columns">
   {% for post in paginator.posts %}
		<div class="card">
            <div class="card-body">
                <article>
		   			<p><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></p>
		   			<p><i class="far fa-clock"></i>{{ post.date | date: "%Y-%m-%d" }} &nbsp;&nbsp; <i class="far fa-user"></i>{{ post.author }}</p>
	   				<p>{{ post.description }}</p>	
	   			</article>
            </div>
        </div>
   {% endfor %}
</div>
<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">
      上一页
    </a>
  {% else %}
    <span class="previous">上一页</span>
  {% endif %}
  <span class="page_number ">
    Page: {{ paginator.page }} of {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">下一页</a>
  {% else %}
    <span class="next ">下一页</span>
  {% endif %}
</div>
<div>
